@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

.card {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* text-align: center; */
  clear: both;
}

.card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25), 0 3px 5px rgba(0, 0, 0, 0.22);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  background-color: var(--light);
}

a {
  color: black;
  text-decoration: none;
}

a.nav-link {
  color: black !important;
}

ul {
  list-style: none;
}

i {
  margin: 0.25rem;
}

.fade-in {
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-animation: fadein 0.5s ease;
  animation: fadein 0.5s ease;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  opacity: 0.01;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  text-align: center;
}

.remove-btn {
  margin-left: 0.5rem !important;
  float: right !important;
  padding: 0 0.5rem !important;
}

.register-form input,
.login-form input {
  text-align: center;
  background: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: 0;
  padding: 0.1em;
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.register-form input:hover,
.login-form input:hover {
  background: rgba(233, 233, 233, 0.616);
}

.bg-gradient {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(var(--red)),
    to(var(--warning))
  );
  background: linear-gradient(to left, var(--red), var(--warning));
  color: white;
}

.brand-image {
  background: url('./components/pages/cat1.webp');
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.brand-image .text {
  width: 90%;
  position: relative;
  color: white;
  top: 50%;
  left: 5%;
}

.brand-image .text h1 {
  padding: 0.1em 0.2em;
  font-size: 2.2rem;
  background: rgba(51, 51, 51, 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

.brand-image .text p {
  margin: 0;
  padding: 0.1em 0.2em;
  font-size: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(51, 51, 51, 0.5);
}

@media only screen and (max-width: 1000px) {
  .brand-image {
    height: 400px;
  }
  .brand-image .text h1 {
    font-size: 1.7rem;
  }
  .brand-image .text p {
    font-size: 1.3rem;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.my-1.rounded.list-group-item {
  min-height: 100px;
}
li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-template-areas: 'main main main right right';
  grid-gap: 10px;
}

.sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: right;
}

.posts {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.post-image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.post-image {
  padding: 1.25rem;
  max-width: 100%;
  max-height: 500px;
  width: auto;
}

.flex-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.flex-page-element-1 {
  flex-basis: 70%;
  height: fit-content;
}
.flex-page-element-1 {
  flex-basis: 30%;
  height: fit-content;
}

#boy {
  background: url('/uploads/png/boy.png');
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#boy1 {
  background: url('/uploads/png/boy1.png');
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#girl {
  background: url('/uploads/png/girl.png');
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
#girl1 {
  background: url('/uploads/png/girl1.png');
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
#man {
  background: url('/uploads/png/man.png');
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
#man1 {
  background: url('/uploads/png/man1.png');
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
#man2 {
  background: url('/uploads/png/man2.png');
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
#woman {
  background: url('/uploads/png/woman.png');
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
#woman1 {
  background: url('/uploads/png/woman1.png');
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.trigger {
  display: none;
}

.checker {
  background-position: left center;
  background-size: auto 100%;
  width: 60px;
  min-height: 60px;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.trigger:checked + .checker {
  background-position: right center;
  border: 5px solid #0077ff;
}

.avatar-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.user-avatar {
  width: 10vw;
  margin: 0.25rem;
}

#user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 0.4rem;
}

.user-header {
  font-size: 2.8vw !important;
  white-space: nowrap;
}
.user-header-2 {
  font-size: 2vw !important;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .flex-page {
    flex-direction: column;
    align-items: center;
  }
  .flex-page-element-1 {
    flex-basis: 70%;
    width: 100%;
  }
  .flex-page-element-1 {
    flex-basis: 30%;
    width: 100%;
  }
  .user-header {
    font-size: 5vw !important;
  }
  .user-header-2 {
    font-size: 4vw !important;
  }
  .user-avatar {
    width: 20vw;
  }
}
/*# sourceMappingURL=App.css.map */
