@import url("https://fonts.googleapis.com/css?family=Roboto");
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

.card {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-align: center;
}

.card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  background-color: var(--light);
}

a {
  color: black;
  text-decoration: none;
}

a.nav-link {
  color: black !important;
}

ul {
  list-style: none;
}

.fade-in {
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-animation: fadein 0.5s ease;
          animation: fadein 0.5s ease;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  opacity: 0.01;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  text-align: center;
}

.remove-btn {
  margin-right: 0.5rem !important;
}

.register-form input,
.login-form input {
  text-align: center;
  background: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: 0;
  padding: 0.1em;
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.register-form input:hover,
.login-form input:hover {
  background: rgba(233, 233, 233, 0.616);
}

.bg-gradient {
  background: -webkit-gradient(linear, right top, left top, from(var(--red)), to(var(--warning)));
  background: linear-gradient(to left, var(--red), var(--warning));
  color: white;
}

.brand-image {
  background: url("./components/pages/cat1.jpg");
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.brand-image .text {
  width: 90%;
  position: relative;
  color: white;
  top: 50%;
  left: 5%;
}

.brand-image .text h1 {
  padding: 0.1em 0.2em;
  font-size: 2.2rem;
  background: rgba(51, 51, 51, 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

.brand-image .text p {
  margin: 0;
  padding: 0.1em 0.2em;
  font-size: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(51, 51, 51, 0.5);
}

@media only screen and (max-width: 1000px) {
  .brand-image {
    height: 400px;
  }
  .brand-image .text h1 {
    font-size: 1.7rem;
  }
  .brand-image .text p {
    font-size: 1.3rem;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.my-1.rounded.list-group-item {
  min-height: 100px;
}
/*# sourceMappingURL=App.css.map */